
<html>
<body>


 <div th:fragment="registerForm" class="modal fade " id="registerNewUserForm" tabindex=-201 aria-labelledby="exampleModalLabel" aria-hidden="true">

  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
       <div class="modal-title" id="exampleModalLabel"></div>
       	<button type="button" class="btn btn-secondary close" data-bs-dismiss="modal"
						aria-label="Close" ><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
      <!--  ======= Login Section ======= -->
					<section id="appointment" class="appointment section-bg">
						<div class="container" data-aos="fade-up">

							<div class="section-title">
<!-- 								<h2>Easy create an account</h2> -->
								<h2>Creati un cont cu usurinta</h2>
								
								<!-- <p>We need a few details from you to create an account. With this account you can make appointments
									easily and see your history with our practice. The stuff will also identify easily and 
									confirm your appointment. 
									</p> -->
								<p>Avem nevoie de cateva detalii pentru a crea un cont cu care veti putea face
								 programari cu mai multa usurinta si de asemenea puteti vedea istoricul consultatiilor si tratamentelor dvs.
								 De asemenea va vom putea identifica cu usurinta pentru viitoarele programari.</p>	
							</div>

							<form th:action="@{/user/save}" method="post" role="form" th:object="${userAccount}"
								class="php-email-form" data-aos="fade-up" data-aos-delay="100">
								
								 <input type="hidden" th:field="${userAccount.userId}" /> <input type="hidden" th:field="${person.personId}" />
								 
								<div class="row">
								
									<div class="col-md-4 form-group mt-3 mt-md-0">
										<input th:field="${userAccount.email}" 
											type="email" class="form-control" name="email" autocomplete="off"
											 placeholder="adresa de email" required>
											<!-- <input type="hidden" th:field="${userAccount.username}" th:value="${userAccount.email}"> -->
									</div>
									
								
									<div class="col-md-4 form-group mt-3 mt-md-0">
										<input th:field="${userAccount.password}" type="password" class="form-control" 
											 placeholder="parola" required>
									</div>
									<div class="col-md-4 form-group mt-3 mt-md-0">
										<input type="password" class="form-control" 
											placeholder="verificare parola" required>
									</div>
								</div>
								<div class="row">
								
									<div class="col-md-4 form-group">
										<input th:field="${person.firstName}" 
											type="text" name="name" class="form-control" 
											placeholder="nume si prenume" required>
									</div>
									
									
									<div class="col-md-4 form-group mt-0">
										<input th:field="${person.birthDate}" 
											onclick="(this.type='date')" onblur="(this.type='text')"
											type="datetime" name="date"
											class="form-control datepicker" 
											placeholder="Data nasterii" required>
									</div>
									
									<div class="col-md-4 form-group mt-3 mt-md-0">
										<input type="tel" class="form-control" name="phone" 
											placeholder="numarul de telefon" required>
									</div>
								</div>

								<div class="form-group mt-3">
									<textarea class="form-control" name="message" rows="5"
										placeholder="Message (Optional)"></textarea>
								</div>
								<div class="my-3">
									<div class="loading">Loading</div>
									<div class="error-message"></div>
									<div class="sent-message">Your appointment request has
										been sent successfully. Thank you!</div>
								</div>


								<div class="text-center">
									<button type="submit">Creati contul</button>
								</div>

							</form>







						</div>
					</section>
					<!-- End Appointment Section -->
				</div>
    </div>
  </div>
  
	 
	
	

</div>


</body>
</html>